In [3]:
num = 10
num1 = 1.2
name = "kush"
print(num)
print(num1)
print(name)

10
1.2
kush

In [4]:
num = 10
num1 = 1.2
name = "kush"
print(num)
print(type(num))
print(num1)
print(type(num1))
print(name)
print(type(name))

10
<class 'int'>
1.2
<class 'float'>
kush
<class 'str'>

In [5]:
name = str(input('Enter your name '))
age = int(input('Enter your age '))
height = float(input('Enter your height '))

print('your name : ',name)
print('your age : ',age)
print('your height : ',height)

your name :  kush Patel
your age :  18
your height :  5.11

In [9]:
Name ="Kush"
S_name="'Patel'"
Address="""'Hello World 
Have a good day
Nice to meet you'"""
print(name)
print(S_name)
print(Address)

kush Patel
'Patel'
'Hello World
Have a good day
Nice to meet you'

In [12]:
F_name="Kush "
L_name="Patel"
print(F_name + L_name)

Kush Patel

In [24]:
num1 = 20
num2 = 10
print("Addition for ",num1 ,"+" ,num2," = ",num1+num2)
print("Subraction for ",num1 ,"-" ,num2," = ",num1-num2)
print("Multiplication for ",num1 ,"*" ,num2," = ",num1*num2)
print("Square for ",num1 ,"^" ,num2," = ",num1**num2)
print("Division for ",num1 ,"/" ,num2," = ",num1/num2)
print("Division without Decimal for ",num1 ,"//" ,num2," = ",num1//num2)
print("Modulus for ",num1 ,"%" ,num2," = ",num1%num2)

Addition for  20 + 10  =  30
Subraction for  20 - 10  =  10
Multiplication for  20 * 10  =  200
Square for  20 ^ 10  =  10240000000000
Division for  20 / 10  =  2.0
Division without Decimal for  20 // 10  =  2
Modulus for  20 % 10  =  0