In [2]:
class Employee:
    def get_info():
        print('Enter Employee name = joy')
    def get_id():
        print('Enter Employee id = E001')

In [3]:
# Creating object for the above class 
employee = Employee

# calling function

employee.get_info()
employee.get_id()

Enter Employee name = joy
Enter Employee id = E001

In [4]:
 # using self into class function

class tos_employee:
  def get_info(self,name,id,salary,leave):
    self.name = name
    self.id = id
    self.salary = salary
    self.leave = leave
  def print_info(self):
    print('\n--------------------------\n')
    print("Name : ",self.name)
    print("EMP ID : ",self.id)
    print("Monthly Salary : ",self.salary)
    print("CTC (Yearly Salary ) : ",self.salary*12)
    print("Leave Amount : ",self.leave*(self.salary*12)/365)
    print("TDS Amount : ",(self.salary-(self.leave*(self.salary*12)/365))*2/100)
    print("Final Pay Salary : ",(self.salary-((self.leave*(self.salary*12)/365)-(self.salary-(self.leave*(self.salary*12)/365))*2/100)))
    print("Date = March/2023")

In [5]:
# create an object

employee = tos_employee()
employee.get_info("Joy","A001",10000,7)
employee.print_info()

employee.get_info("Nishant","A034",85000,12)
employee.print_info()

--------------------------

Name :  Joy
EMP ID :  A001
Monthly Salary :  10000
CTC (Yearly Salary ) :  120000

TypeError: 'levamt' is an invalid keyword argument for print()