In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in ['car','bike','bus','train','truck']:
    print(i)

car
bike
bus
train
truck

In [9]:
x =['car','bike','bus','train','truck']
for i in x:
    print(i ,end=" ")

car bike bus train truck

In [7]:
print(x)

['car', 'bike', 'bus', 'train', 'truck']

In [10]:
a =['car','bike','bus','train','truck']
print("Before :",a)
temp =a[0]
a[0] = a[-1]
a[-1] = temp

print("After :",a)

Before : ['car', 'bike', 'bus', 'train', 'truck']
After : ['truck', 'bike', 'bus', 'train', 'car']

In [12]:
num =int(input("Enter number for table :"))

for i in range(1,11):
    # print(num,"X",i,"=",num*i)
    print(f"{num} x {i} ={num*i}")

4 x 1 =4
4 x 2 =8
4 x 3 =12
4 x 4 =16
4 x 5 =20
4 x 6 =24
4 x 7 =28
4 x 8 =32
4 x 9 =36
4 x 10 =40