In [4]:
import pandas as pd


# using series()


data = ['a','b','c','d']

s = pd.Series(data)

print(s)

0    a
1    b
2    c
3    d
dtype: object

In [15]:
import numpy as np
import pandas as pd
# using series with ndarray

data = np.array([1,2,3,4,5])

s = pd.Series(data)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
# using series() with dict

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)

print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [26]:
# create list using course name

fruits  = ['mango','apple','pineapple','lichi','grapes']

# create series

# create new index list
index_no = [101,102,103,104,105]

s = pd.Series(fruits,index=index_no)

print(s)

# find data using index

print('find data = ',s[102])

# find data multipal

print('multipal data = \n',s[[102,103,105]])

101        mango
102        apple
103    pineapple
104        lichi
105       grapes
dtype: object
find data =  apple
multipal data =
 102        apple
103    pineapple
105       grapes
dtype: object

In [28]:
# https://codeswithpankaj.medium.com/python-pandas-dataframe-6b7eb73a9393
# From a Dictionary
data = {
    'Name': ['Kush', 'Neha', 'Deepti'],
    'Age': [19, 18, 35],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)

print(df)

     Name  Age Country
0    Kush   19     USA
1    Neha   18  Canada
2  Deepti   35      UK

In [10]:
data = [
    {'Name': 'Alice', 'Age': 25, 'Country': 'USA'},
    {'Name': 'Bob', 'Age': 30, 'Country': 'Canada'},
    {'Name': 'Charlie', 'Age': 22, 'Country': 'UK'}
]
df = pd.DataFrame(data)
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   22      UK

In [9]:
data = np.array([
    ['Alice', 25, 'USA'],
    ['Bob', 30, 'Canada'],
    ['Charlie', 22, 'UK']
])
df = pd.DataFrame(data, columns=['Name', 'Age', 'Country'])
print(df)

      Name Age Country
0    Alice  25     USA
1      Bob  30  Canada
2  Charlie  22      UK

In [29]:

arr =[1,2,3,4,5]
if arr[2] <arr[-1]:
    print (1 >2 and 2> 1 and 1 )
else:
    print(1or0>1)

SyntaxError: invalid decimal literal (567191556.py, line 5)